.container {
    height: 350px;
    width: 300px;
    background-color: aquamarine;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

button{
    height: 60px;
    width: 60px;
}

#display{
    width: auto;
    height: 50px;
    background-color: antiquewhite;
    margin: auto;
    border-radius: 5px;

}

.allButtons{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}