.container {
    height: 350px;
    width: 300px;
    background-color: aquamarine;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

button{
    height: 60px;
    width: 60px;
}

#display{
    width: auto;
    height: 50px;
    background-color: antiquewhite;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    font-size: 48px;

}

.allButtons{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

body {
    padding: 200px;
    background-color: rgba(21, 21, 27, 0.705);
}